@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";
.CodeMirror {
  text-align: left !important;
  font-size: 15px !important;
  height: 400px;
}

.text_editor_toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_toolbar {
  display: flex;
  align-items: center;
}
.code_input {
  margin-top: 7px;
  height: 62px;
  width: 350px;
  resize: none;
}
.code_input_name0 {
  height: 30px;
  width:  75px;
  resize: none;
}
.code_input_name1 {
  height: 30px;
  width:  175px;
  resize: none;
}
.code_input_name2 {
  margin-top: 2px;
  height: 30px;
  width:  250px;
  resize: none;
}
.generate_flowchart_btn {
  font-weight: bold !important;
  font-size: 12px !important;
}
